[submodule "powerline-bash"]
	path = powerline-bash
	url = https://github.com/xinbenlv/powerline-bash.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized
[submodule "emacs-color-theme-solarized"]
	path = emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
